body {
    background-color: whitesmoke;
    padding-bottom: 20px;
}

.box {
    background-color: white;
    padding: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.table-striped {
    padding:20px;
}